# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Large model files
*.pt
*.h5
*.pkl
*.npy

# Logs
logs/

# Dataset
data/raw/dataset/
